    <div class="container bs-docs-container">
    <div class="row">
      <div class="col-md-9" role="main">
        <div id="monitered">
          <br/><br/>
	      <!-- Father's Farewell -->
          <div class="event bs-docs-section row">
            <h1 id="event-1" class="page-header">Father's Farewell</h1>
            <div class="subevent row">
              <h3 id="subevent-1-1">School Event</h3>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            </div>
            <div class="subevent row">
              <h3 id="subevent-1-2">Church Event</h3>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            </div>
          </div>
	      <!-- Oath Taking -->
          <div class="event bs-docs-section row">
            <h1 id="event-2" class="page-header">Oath Taking Day</h1>
            <div class="subevent row">
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            </div>
          </div>
	      <!-- Freshers' Day -->
          <div class="event bs-docs-section">
            <h1 id="event-3" class="page-header">Freshers' Day</h1>
            <div class="subevent">
              <h3 id="subevent-3-1">K.G. 1</h3>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            </div>
            <div class="subevent">
              <h3 id="subevent-3-2">K. G. 2</h3>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
          </div>
          <div class="subevent">
            <h3 id="subevent-3-3">Others</h3>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
              <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb"><a class="thumbnail" data-toggle="modal" data-target="#picture-display"><img class="img-responsive" src="../../../images/avatar-blank.png" alt=""></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="bs-docs-sidebar hidden-xs hidden-sm affix" data-spy="affix" data-offset-top="60" data-offset-bottom="200" role="complementary">
        <ul class="nav bs-docs-sidenav">
          <br/><br/><br/>
          <li class="active">
            <a href="#event-1">Father's Farewell</a>
		    <ul class="nav">
              <li class="active"><a href="#subevent-1-1">School Event</a></li>
              <li class=""><a href="#subevent-1-2">Church Event</a></li>
            </ul>
		  </li>
		  <li class="">
            <a href="#event-2">Oath Taking Day</a>
          </li>
          <li>
            <a href="#event-3">Freshers' Day</a>
            <ul class="nav">
              <li><a href="#subevent-3-1">K.G. 1</a></li>
              <li><a href="#subevent-3-2">K. G. 2</a></li>
              <li><a href="#subevent-3-3">Others</a></li>
            </ul>
          </li>
        </ul>
        <a class="back-to-top" href="#top">Back to top</a>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="picture-display" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Photograph Title</h4>
        </div>
        <div class="modal-body">
          <center><img src="../../../images/avatar-blank.png" class="img-responsive" alt="Photograph"/></center>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="row"><div class="col-lg-12"><p>Copyright © St. Thomas Website 2014</p></div></div>
  </footer>
</div>
<script src="../javascript/affix-bug-workaround.js"></script>
</body>
</html>