  	<div class="container" style="padding-top:50px;">
        <div class="jumbotron">
            <h2> The School Honor Boards </h2>
            This is the list of the ICSE Toppers. [PLACEHOLDER]
            <br/><br/>
            <button class="btn btn-primary" id="button-results-1" data-toggle="collapse" data-target=".wrap-results-1">View Full Result</button>
        </div>
        <div class="container">
          <table class="table table-hover">
            <tr>
              <th> Name </th>
              <th> Percentage </th>
              <th> Year </th>
            </tr>
            <tr>
              <td> Aaditya Kumar </td>
              <td> 97.6% </td>
              <td> 2012 </td>
            </tr>
            <tr>
              <td> Example Student </td>
              <td> 93.4% </td>
              <td> 2009 </td>
            </tr>
            <tr>
              <td> Example Student </td>
              <td> 93.4% </td>
              <td> 2008 </td>
            </tr>
            <tr class="wrap-results-1 collapse">
              <td> Example Student </td>
              <td> 93.4% </td>
              <td> 2007 </td>
            </tr>
            <tr class="wrap-results-1 collapse">
              <td> Example Student </td>
              <td> 93.4% </td>
              <td> 2006 </td>
            </tr>
            <tr class="wrap-results-1 collapse">
              <td> Sanjay Saurav </td>
              <td> 86.7% </td>
              <td> 1998 </td>
            </tr>
            <tr class="wrap-results-1 collapse">
              <td> Sanjay Saurav </td>
              <td> 86.7% </td>
              <td> 1998 </td>
            </tr>
            <tr class="wrap-results-1 collapse">
              <td> Sanjay Saurav </td>
              <td> 86.7% </td>
              <td> 1998 </td>
            </tr>
            <tr class="wrap-results-1 collapse">
              <td> Sanjay Saurav </td>
              <td> 86.7% </td>
              <td> 1998 </td>
            </tr>
            <tr class="wrap-results-1 collapse">
              <td> Sanjay Saurav </td>
              <td> 86.7% </td>
              <td> 1998 </td>
            </tr>
            <tr class="wrap-results-1 collapse">
              <td> Sanjay Saurav </td>
              <td> 86.7% </td>
              <td> 1998 </td>
            </tr>
            <tr class="wrap-results-1 collapse">
              <td> Sanjay Saurav </td>
              <td> 86.7% </td>
              <td> 1998 </td>
            </tr>
            <tr class="wrap-results-1 collapse">
              <td> Sanjay Saurav </td>
              <td> 86.7% </td>
              <td> 1998 </td>
            </tr>
            <tr class="wrap-results-1 collapse">
              <td> Sanjay Saurav </td>
              <td> 86.7% </td>
              <td> 1998 </td>
            </tr>
          </table>
        </div>
        <div class="jumbotron">
            <h2> JEE 2014 Results </h2>
            This is the list of the ICSE Toppers. [PLACEHOLDER]
            <br/><br/>
            <button class="btn btn-primary" data-toggle="collapse" data-target=".wrap-results-2">View Full Result</button>
        </div>
        <div class="container">
          <table class="table table-hover">
            <tr class="wrap-results-1 collapse in">
              <th> Name </th>
              <th> Score </th>
              <th> Rank </th>
            </tr>
            <tr>
              <td> Aaditya Kumar </td>
              <td> 300 </td>
              <td> 80 </td>
            </tr>
            <tr>
              <td> Example Student </td>
              <td> 300 </td>
              <td> 100 </td>
            </tr>
            <tr>
              <td> Example Student </td>
              <td> 300 </td>
              <td> 121 </td>
            </tr>
            <tr class="wrap-results-2 collapse">
              <td> Example Student </td>
              <td> 300 </td>
              <td> 322 </td>
            </tr>
            <tr class="wrap-results-2 collapse">
              <td> Example Student </td>
              <td> 300 </td>
              <td> 343 </td>
            </tr>
            <tr class="wrap-results-2 collapse">
              <td> Example Student </td>
              <td> 300 </td>
              <td> 343 </td>
            </tr>
            <tr class="wrap-results-2 collapse">
              <td> Example Student </td>
              <td> 300 </td>
              <td> 343 </td>
            </tr>
            <tr class="wrap-results-2 collapse">
              <td> Example Student </td>
              <td> 300 </td>
              <td> 343 </td>
            </tr>
            <tr class="wrap-results-2 collapse">
              <td> Example Student </td>
              <td> 300 </td>
              <td> 343 </td>
            </tr>
            <tr class="wrap-results-2 collapse">
              <td> Example Student </td>
              <td> 300 </td>
              <td> 343 </td>
            </tr>
            <tr class="wrap-results-2 collapse">
              <td> Example Student </td>
              <td> 300 </td>
              <td> 343 </td>
            </tr>
            <tr class="wrap-results-2 collapse">
              <td> Example Student </td>
              <td> 300 </td>
              <td> 343 </td>
            </tr>
            <tr class="wrap-results-2 collapse">
              <td> Example Student </td>
              <td> 300 </td>
              <td> 343 </td>
            </tr>
            <tr class="wrap-results-2 collapse">
              <td> Example Student </td>
              <td> 300 </td>
              <td> 343 </td>
            </tr>
            <tr class="wrap-results-2 collapse">
              <td> Example Student </td>
              <td> 300 </td>
              <td> 343 </td>
            </tr>
            <tr class="wrap-results-2 collapse">
              <td> Example Student </td>
              <td> 455 </td>
              <td> 80 </td>
            </tr>
          </table>
        </div>
    </div>
  </body>
</html>