.img-circle {
	border-radius: 50%;
	margin-bottom: 20px;
}

h1.condensed, h2.condensed {
	line-height:50px;
}

/*
 * Use this on a div with class columns which has a parent with class row.
 */
.border-box {
	border: 2px solid #efefef;
	padding: 15px;
	padding-top: 25px;
}
.border-box.fluid {
	padding: 0px;
}
.border-box div.container {
	padding: 15px;
	color:#666;
}
.border-box div.heading h1 {
	color:#FFF
}
.border-box hr {
	margin:0px;
}

/* 
 * Have an anchor tag nested in a div with class side-tab.
 * If your text doesn't fit in the fixed sized tab, adjust width and top properties in your stylesheet.
 * This element uses -webkit properties, to check for browser compatability issues.
 */
.side-tab {
	-webkit-transform: matrix(6.12323399573677e-17, -1, 1, 6.12323399573677e-17, 0, 0);
	-webkit-transform-origin: 0px 0px;
	font-family: 'Open Sans', Verdana, Geneva, sans-serif, sans-serif;
	font-size: 18px;
	font-style: normal;
	height: 34px;
	position: fixed;
	top: 350px;
	left: 0px;
	width: 83px;
}
.side-tab a {
	border-color: rgb(204, 204, 204);
	border-style: solid;
	border-width: 1px;
	border-top-style: none;
	color: rgba(51, 51, 51, 0.74902);
	display: inline-block;
	height: 16px;
	line-height: 16px;
	padding: 6px 22px 11px 22px;
	text-decoration: none;
	transition-delay: 0s;
	transition-duration: 0.1s;
	transition-property: all;
	transition-timing-function: linear;
	width: 170px;
	height: 35px;
}
.side-tab a:link:hover, .side-tab a:link:focus, .side-tab a:visited:hover, .side-tab a:visited:focus {
	color:#fff !important;
	background:#1d9dd9
}

/* 
 * Add the class el-radio to a label which has a radio input element inside it.
 * 
 */
.el-radio label input {
	height:20px;
}
.el-radio label {
	padding-left:0px;
	padding-right:0px;
	text-align:center;
	margin-bottom:1px;
	width:100%;
}
.el-radio label input {
	display:none;
}
label.active {
	background-color:#005085;
}
.el-radio label.active:hover {
	background-color:#005085;
}

@media only screen 
{
	.button-group li {
		width:100%;
	}
}
@media only screen and (min-width: 40.063em)
{
	.button-group li {
		width:33%;
	}
}