.lightgrey-body
{
	background-color:#ddd;
	max-height:500px;
}
.center.row {
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	max-width: 500px;
}

.signin-panel {
  padding: 15px;
}

.signin-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999;
}

.signin-panel form input, .signup-panel form span {
  height: 50px;
}

.signin-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0;
}

.signin-panel .prefix
{
	height: 3.1290rem;
}

#sign-in-button {
  margin-left: 37.5%;
}

#sign-up-button {
  width: 100%;
}

#tour-go-button {
  width: 100%;
}

section.active {
	padding-top: 75px !important;
}

p.title {
	border-bottom: 1px solid #cccccc !important;
}

.content {
	height: 450px;
}