@charset "utf-8";

/* Basic characters for entire root node HTML */
body
{
	padding-top: 80px;
	padding-bottom: 100px;
	background-color: #eee;
}
a:hover
{
	text-decoration:none;
	color:#09F;
}

/* Styles for form element login-validate (document.login-validate) */
#login-validate
{
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
#login-validate input[type="email"]
{
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
#login-validate input[type="password"]
{
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#login-validate .form-control
{
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}